$new-badge-div-size: 3.3rem;
$new-badge-text-size: $new-badge-div-size / 3;

.badge-image {
    margin-top: 1rem;
}


// icon "NEW"
.new-badge_wrapper {
    position: absolute;
    // transform: translate(+25%, -0%);
    width: 50%;
    height: 50%;
    top: 0%;
    left: 60%;
}

.new-badge_icon-wrapper {
    position: absolute;
    width: $new-badge-div-size;
    height: $new-badge-div-size;
}

.new-badge_icon-wrapper .new-badge_icon {
    font-size: $new-badge-div-size;
    margin-top: 0;
    color: red;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.new-badge_text-wrapper {
    justify-self: center;
    display: grid;
    position: absolute;
    width: $new-badge-div-size;
    height: $new-badge-div-size;

}

.new-badge_text-wrapper .new-badge_text {
    margin: auto auto;
    display: inline-block;
    font-size: $new-badge-text-size;
    color: white;
    background-color: red;
    font-weight: bold;
    text-align: center;
    //width: 100%;

}
