@import './selected_color_scheme';
@import '~case-web-ui/build/scss/helpers/spacing.scss';
@import '~case-web-ui/build/scss/helpers/forms.scss';
@import '~case-web-ui/build/scss/helpers/custom_range.scss';
@import '~case-web-ui/build/scss/helpers/navbar.scss';
@import '~case-web-ui/build/scss/helpers/borders.scss';
@import '~case-web-ui/build/scss/helpers/date_input.scss';
@import '~case-web-ui/build/scss/helpers//typography.scss';
@import '~case-web-ui/build/scss/helpers/utilities.scss';

// ---------------------------------------------
// file derived from it-theme.scss which is derived from ~case-web-ui/build/scss/theme-default.scss
// "@import './selected_color_scheme'; " replace and modify "@import '~case-web-ui/build/scss/helpers/colors.scss';"
// selected_color_scheme is the theme chosen among files "sampleX.scss"
// ---------------------------------------------

@include datepicker_classes($theme-colors);

// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;

.captcha-badge-alt {
  color: map-get($theme-colors, "grey-7");
  & a {
    color: #000;
  }
}

.grecaptcha-badge { visibility: hidden; }

.min-h-478 {
  @media (min-width: 768px) {
    min-height: 478px
  }
}

.chart-center {
  @media (min-width: 990px) {
    margin-left: 22.5%
  }
}

@import '~case-web-ui/build/scss/iconfonts';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-base: 'Noto', Serif !default;
body {
  font-family: 'Noto', Serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  // font-weight: bold
}
@import '~bootstrap/scss/bootstrap.scss';


.justify-p p {
  text-align: justify;
}

.blue-titles blockquote h4 {
    background-color: map-get($theme-colors, "primary");;
    margin-bottom: 1rem;
    color: white;
    padding: 1.25rem 1.875rem ;
}

.orange-titles blockquote h4 {
  background-color: map-get($theme-colors, "orangegn");
  margin-bottom: 1rem;
  color: white;
  padding: 1.25rem 1.875rem ;
}

.green-titles blockquote h4 {
  background-color: map-get($theme-colors, "greengn");
  margin-bottom: 1rem;
  color: white;
  padding: 1.25rem 1.875rem ;
}
