// ---------------------------------------------
// Colors:
// ---------------------------------------------
/* $primary: #990011FF;
$secondary: rgb(248, 228, 225); */

/*
Depuis grippenet :
orange : F58220
bleu : 007AB8
vert : 7AB800
gris : 8EA59E
orange éclairci : FFE0C6 => saumon moche !!!
orange éclairci 2 : fff8e8
*/

/* 
Modification 2024

orange : E56B00
bleu : 005265
vert : 409E80
gris : D7EBED
// orange éclairci : FFE0C6 => saumon moche !!!
// orange éclairci 2 : fff8e8
*/

// $primary: #007AB8; //2023
$primary: #005265; // 2024
//$primary: #F58220; // orange
//$secondary: #8EA59E;
//$secondary: #fff8e8; // orange éclairci 
// $secondary: #edeff4; // gris original 2023
$secondary: #D7EBED; // gris original
// $success: #00A733; // original
$success: #39870C; // 2023 
// $success: #409E80; // 2024 voir ExternalLinkCarde.module.scss + green-title
$warning: #FD9644; // original
// $warning: #EEA230; // 2023
// $warning: #E56B00; // grippenet 2024 voir ExternalLinkCarde.module.scss
// $danger: #DA3659; // original
$danger: #D92321; // it
// $info: #BCE0FA; // original
// $info: #CCE0F1;// it
$info: #8EA59E; // Grippenet

$theme-colors: (
  "primary": $primary,
  "secondary":  $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);

$custom-colors: (
    "grey-1": #f3f3f3,// it
    "grey-2": #D2D8E1,// original
    "grey-3": #B6BECB,// original
    "grey-4": #99A4B5,// original
    "grey-5": #6E7D93,// original
    "grey-6": #606E82,// original
    "grey-7": #4F5A6B,// original
    "lightest": #fff,// original
    "danger-light": #FCCFD9,// original
    "warning-light": #FFEDBD,// original
    "success-light": #B6F1CA,// original
    "greengn": #409E80,
    "orangegn": #E56B00,
);


// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


// Additional colors:
.report-card-subtitle {
    color: map-get($theme-colors, "grey-7");
  }